html {
    background-color: #061F03;
    color: #c9bbc3;
}

body {
    flex-direction: column;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

/* ~~~~~~ Button ~~~~~~ */

.btn button {
    background-color: #c9bbc3;
    color: black;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;

}

.rsvp-btn button {
    background-color: #061F03;
    color: #c9bbc3;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;

}

.submit {
    background-color: #c9bbc3;
    color: black;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;

}

/* ~~~~~~ nav bar ~~~~~~*/


header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #c9bbc3;
}

header h1 {
   text-align: left; 
   padding-left: 50px;
}

header nav {
    text-align: right;
    padding-right: 100px;

}

@media only screen and (max-width: 700px) {
    header h1 {
        font-size: 30px;
        padding-left: 25px;
    }

    header nav {
        padding-right: 25px;
    }
}

/* ~~~~~~ Intro ~~~~~~ */

.intro {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px;
    
}

.intro div{
    margin: auto;
    align-items: center;
}

.intro h1 {
    text-align: center;
}

.name {
    font-size: 70px;
    text-align: center;
    
}

.intro .date {
    text-align: center;
    
    font-size: 20px;
}

.intro button {
    margin: 0 auto;
    display: block;
    
}

.intro img {
    width: 50%;
    float: right;
}

@media only screen and (max-width: 700px) {
    .intro h1 {
        font-size: 25px;
    }

    .name {
        font-size: 40px;
        
    }

    .intro button {
        margin: 0 auto;
        display: block;

    }

    .intro img {
        margin-top: 30px ;
        width: 100%;
        height: auto;
        
    }

    
}

/* ~~~~~~ On the day ~~~~~~*/



.OnTheDay {
    background-color:#c9bbc3; 
    color: black;
    justify-content: flex-start;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

.OnTheDay img{
    text-align: center;
    width: 25%;
    height: auto;
    Margin: 0px 40px;
    
}


.schedule ul{
    list-style-type: none;

}

@media only screen and (max-width: 700px) {
    .OnTheDay {
        justify-content: center;
        
    }
    .OnTheDay h1 {
        font-size: 30px;
        text-align: center;
        
    }

    .schedule h2 {
        font-size: 20px;
    }
    
    .OnTheDay img {
        width: 50%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
}

/* ~~~~~~ Photos ~~~~~~*/
.photo {
    justify-content: space-around;
    display: flex;
    flex-direction: row;

}

.photo img {
    width:30%;
    margin: 10px 0px;
    
}

/* ~~~~~~ Travel & Stay ~~~~~~*/

.travel {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #c9bbc3;
    color: black;
    padding: 50px;
    text-align: center;

}

.travel h1 {
    width: 100%;
   

}

.travel iframe {
    margin-right: 50px;
}


@media only screen and (max-width: 700px) {
    .travel h1{
        font-size: 30px;
    }
    .travel iframe {
        width: 250px;
        height: 250px;
        margin: 0 auto;
        display: block;
    }
}

/* ~~~~~~ Honeymoon ~~~~~~*/

.honeymoon {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
    
}

.honeymoon div{ 
    text-align: center;
    margin: 50px;
}

.honeymoon img {
    align-items: center;
    width:20%; 
    margin: 10px 20px;
}

@media only screen and (max-width: 700px) {
    .honeymoon div {
        margin: 25px;
    }
    
    .honeymoon h1{
        font-size: 30px;
    }

    .honeymoon p {
        font-size: 16px;
    }

    .honeymoon img {
        margin: 0 auto;
        display: block;
        width: 50%;
        margin-bottom: 20px;
    }
}


/* ~~~~~~ RSVP ~~~~~~*/

.rsvp {
    background-color:#c9bbc3;
    color: black;
    padding: 50px;
    text-align: center; 
}

@media only screen and (max-width: 700px){
    .rsvp h1 {
        font-size: 30px;
    }
}



/* ~~~~~~ Footer ~~~~~~ */

 footer {
    margin: auto;
    padding: 10px;
    text-align: center;
 }

/* ~~~~~~~~~~~~~~~ RSVP Page ~~~~~~~~~~~~~~~ */

.rsvp-page {
    justify-content: center;
    display: flex;
    align-items: center;
}

.rsvp-form {
    justify-content: center;
    display: flex;
    align-items: center;
}

